---
interface Props {
  name: string,
  source: string,
  scope: string,
  type: "main" | "source",
  created: string,
  modified: string,
  wrap?: boolean,
}

const meta = Astro.props

const [createdDate, createdTime] = meta.created.split('T')
const [modifiedDate, modifiedTime] = meta.modified.split('T')
const noteType = meta.type === "main" ? "lipu" : "kulupu"
---

<div class={meta.wrap ? "outer block wrap" : "outer block"} id={meta.name}>
  <div>
    <a href={'/' + meta.name}>
      <span title={meta.type + " note"} class="sitelen-pona">{noteType}</span>
      <span>[{meta.name}]</span>
    </a>
  </div>

  <div class="block">
    <span title="created">
      <span class="sitelen-pona">sin</span>
      <span>{createdDate}</span>
    </span>

    <span title="last modified">
      <span class="sitelen-pona">ante</span>
      <span>{modifiedDate}</span>
    </span>

    {meta.source && 
      <a title="last modified" href={meta.source}>
        <span class="sitelen-pona">tan</span>
          src
        </span>
      </a>
    }
  </div>
</div>

<style>
  .outer {
    padding: 1em 0 0.5em 0;
  }

  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.618em;
  }

  .block > * {
    white-space: nowrap;
  }

  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    text-decoration: none;
  }

  .wrap {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 600px) {
    .outer {
      flex-direction: column;
    }
  }
</style>
